<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container"  ng-controller="itemsCtrl as itemsController">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main ng-controller="cartManage as cartCtrl">
        <div class="row">
          <div class="col s12 m8">
            <div class="row">
              <div class="col s8 input-field">
                <input type="text" ng-model="itemsController.searchQuery">
              </div>
              <div class="col s4 input-field">
                {{itemsController.selectValue}}
                <select ng-model="itemsController.selectValue">
                  <option value="name">Name</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>

              </div>
              <div>
                <ul class="collection">
                  <li class="collection-item" ng-repeat="camera in cartCtrl.itemsInCart">
                    {{camera.quantity}} <strong>{{camera.name}}</strong>
                    <i class="right-align material-icons">delete</i>
                  </li>
                </ul>
              </div>

              <div class="card-content white-text">
                <div class="=row">
                  <p class="col s6">
                    Subtotal:
                  </p>
                  <p class="col s6 right-align">
                    $8.99
                  </p>
                </div>
                <div class="=row">
                  <p class="col s6">
                    Tax:
                  </p>
                  <p class="col s6 right-align">
                    $8.99
                  </p>
                </div>
                <div class="=row">
                  <h3 class="col s6">
                    Total:
                  </h3>
                  <h3 class="col s6 right-align">
                    $8.99
                  </h3>
                </div>
              </div>

              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div ng-repeat="camera in itemsController.cameras | orderBy:itemsController.selectValue | filter:itemsController.searchQuery" class="row">
          <div class="col s7">

            <h3>
              {{camera.name}}
            </h3>
            <h3>
              {{camera.rating | orderStars}}
            </h3>
            <h5>
              {{camera.price | currency}}
            </h5>
            <p ng-if="camera.onSale">On Sale</p>

            <a class="waves-effect waves-light btn-large" ng-click="cartCtrl.addItem(camera)">Add to Cart</a>
          </div>
          <div class="col s5">
            <p class="center-align">
              <img class="responsive-img" src="{{camera.image}}" alt="image">
            </p>
          </div>
          <hr>
        </div>
      </main>
    </div>



    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
